// Variables
// --------------------------------------------------
$font-base: 'PT Serif', Georgia, Times, "Times New Roman", serif
$font-alt: 'PT Sans', Arial, "Helvetica Neue", Helvetica, sans-serif
$font-os: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif

body
	font-family: $font-base
	font-size: 14px
	line-height: 1.4
	color: #373636
	background: #fff
	min-width: 1020px
	+font-smoothing
// container extend
%in
	width: 990px
	margin: 0 auto
.container
	@extend %in

.row
	+clr
	margin-left: -20px
.column
	float: left
	width: 315px
	margin-left: 20px

.section
	margin-bottom: 30px

.label
	position: absolute
	top: 20px
	left: 20px
	background: #0f0e0e
	font-family: $font-os
	font-size: 12px
	height: 21px
	line-height: 21px
	font-weight: 600
	color: #fff
	text-transform: uppercase
	padding: 0 6px

.badge
	display: inline-block
	vertical-align: middle
	position: relative
	top: -3px
	background: #ff5d25
	color: #fff
	text-transform: uppercase
	+border-radius(3px)
	font-size: 12px
	font-family: $font-alt
	height: 19px
	line-height: 19px
	padding: 0 7px

// pseudo links
.g-pseudo
	border-bottom: 1px dotted #000
	text-decoration: none !important
	&:hover
		border-bottom: 1px dotted transparent
		text-decoration: none !important

// Headings
// --------------------------------------------------
h1, .h1
	font-family: $font-base
	font-size: 24px
	font-weight: bold
	color: #000
h2, .h2
	font-family: $font-alt
	font-size: 20px
	font-weight: bold
	color: #000
h3, .h3
	font-family: $font-alt
	font-size: 15px
	font-weight: bold
	color: #0f0e0e

// HEADER
// --------------------------------------------------
.header
	font-family: $font-alt
	margin-bottom: 33px
.header__in
	@extend %in
	padding-top: 34px
	+clr
.header__logo
	float: left
	width: 120px
	height: 90px
	a
		+hidetext
	img
		display: block
.header__main
	width: 655px
	float: right
.header__toolbar
	margin-bottom: 30px
	+clr

// Social buttons
// --------------------------------------------------
.social
	display: inline-block
.social__href
	+hidetext
	display: block
	height: 100%
.social__item
	display: inline-block
	vertical-align: top
	margin-left: 1px
	&:first-child
		margin-left: 0
.social__vk
	+s(vk)
.social__fb
	+s(fb)
.social__od
	+s(od)
.social__tw
	+s(tw)

// Search form
// --------------------------------------------------
.search
	display: inline-block
	vertical-align: top
	position: relative
	margin-left: 29px
	padding-top: 5px
.search__query
	font-family: $font-alt
	width: 174px
	height: 30px
	background: #fff
	+box
	border: 1px solid rgba(217,217,217,.5)
	padding: 0 45px 0 12px
	font-size: 14px
	color: #c3c3c3
	+placeholder-color(#c3c3c3)
	+box-shadow(0px -1px 1px -1px rgba(#000, .7))
	&:focus
		+placeholder-color(transparent)
.search__submit
	position: absolute
	top: 50%
	margin-top: -7px
	right: 13px
	+s(search)
	+hidetext

// User links & languages
// --------------------------------------------------
.userlinks
	float: right
	display: inline-block
	vertical-align: top
	padding-top: 11px
	ul
		display: inline-block
	li
		display: inline-block
		margin-left: 21px
		&:first-child
			margin-left: 0
	a
		color: #000
		text-decoration: none
		&:hover
			text-decoration: underline
.lang
	position: relative
	padding-left: 22px
	margin-left: 23px
	&:before
		position: absolute
		top: 50%
		margin-top: -9px
		left: 0
		width: 1px
		height: 18px
		background: #7f7f7f
		content: ""
	li
		margin-left: 7px
		&:first-child
			margin-left: 0

// MAIN NAVIGATION
// --------------------------------------------------
.nav
	@extend %in
	border-bottom: 3px solid #d0d0ce
	margin-bottom: 22px
	ul
		+justify
	li
		position: relative
		+justify-child
		text-align: center
		font-family: $font-alt
		font-size: 16px
		font-weight: bold
		text-transform: uppercase
		color: #0f0e0e
		margin-bottom: -3px
		&:hover, &.is-active
			&:before
				position: absolute
				bottom: 0
				right: -3px
				left: -3px
				height: 3px
				background: #fff
				content: ""
			a
				color: #fa6000
				text-decoration: none
				border-bottom: 3px solid #fa6000
	a
		position: relative
		z-index: 1
		display: block
		color: #0f0e0e
		text-decoration: none
		padding: 0 8px 12px
		line-height: 16px
		border-bottom: 3px solid transparent

// FOOTER
// --------------------------------------------------
.footer
	background: #fff
	font-family: $font-alt
	font-size: 15px
	color: #9d9d9f
.footer__in
	@extend %in
	padding-top: 35px
	padding-bottom: 13px
.footer__top
	padding-bottom: 13px
	border-bottom: 1px solid #e3e3e3
	+clr
.footer__menu
	float: left
	margin-right: 5px
	ul
		display: inline-block
		vertical-align: top
		width: 200px
		margin-left: 24px
		&:first-child
			margin-left: 0
	a
		color: #919191
		text-decoration: none
		&:hover
			text-decoration: underline
.footer__title
	font-size: 19px
	font-weight: bold
	font-family: $font-alt
	color: #0e0e0e
	line-height: 1
	margin-bottom: 11px
.footer__socials
	float: left
	margin-left: 33px
	.social
		margin-left: -3px
.footer__copy
	position: relative
	text-align: center
	min-height: 55px
	width: 595px
	padding: 12px 70px 0
	margin: 10px auto 0
	p
		letter-spacing: 0.017em
		line-height: 1.5
.footer__copyicon
	position: absolute
	top: 1px
	right: 18px
	+s(gerb_2)
.footer__copyicon_swd
	left: 0
	right: auto
	+s(gerb_1)


.line
	background-color: #3b3a41
	height: 200px

// ARTICLE
// --------------------------------------------------
.articles
	// margin-top: -10px
.article
	font-family: $font-alt
	padding: 10px 0 15px
	// margin-top: -10px
	&.article_lg
		.article__info
			height: 350px
	&.article_sm
		padding: 20px 0
		border-top: 1px solid #7f7f7f
		margin-top: 0
		+clr
		.article__info
			float: left
			width: 88px
			height: 84px
			margin-right: 8px
		.article__picture
			img
				min-width: 100%
				max-height: 100%
				max-width: 500px
				min-height: 1px
			&:before
				content: none
		.article__txt
			overflow: hidden
		.article__title
			padding-top: 8px
		.article__meta
			position: static
			li
				color: #6f6f70
				&:before
					background: #6f6f70
				a
					color: #6f6f70
					text-decoration: none
					&:hover
						text-decoration: underline
	&:first-child
		padding-top: 0
		border-top: none
.article__info
	position: relative
	width: 315px
	height: 210px
	overflow: hidden
	@include box-shadow(0 1px 3px rgba(0,0,0,.4))
.article__picture
	position: relative
	&:before
		position: absolute
		height: 50px
		left: 0
		right: 0
		bottom: 0
		+opacity(.8)
		// background-color: #0f0e0e
		content: ""
		+g(transparent, #0f0e0e)
	img
		display: block
		max-width: 100%
		min-height: 100%
.article__href
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 10
.article__meta
	position: absolute
	bottom: 11px
	left: 20px
	.icon-comments, .icon-comments_dark
		margin-right: 4px
	ul
		+clr
	li
		position: relative
		float: left
		font-size: 13px
		color: #dadbdd
		padding: 0 11px
		line-height: 1
		a
			color: #dadbdd
			text-decoration: none
			&:hover
				text-decoration: underline
		&:first-child
			padding: 0 11px 0 0
			&:before
				content: none
		&:before
			position: absolute
			height: 15px
			width: 1px
			top: 50%
			left: 0
			margin-top: -8px
			content: ""
			background: #dadbdd
.article__txt
	p
		font-size: 14px
		color: #373636
		line-height: 1.2
		margin-top: 12px
.article__title
	padding-top: 15px
	font-size: 15px
	font-weight: bold
	line-height: 1.2
	color: #0f0e0e
	a
		color: inherit
		text-decoration: none

// TABLOID
// --------------------------------------------------
.tabloid
	position: relative
	padding-bottom: 19px
	margin-bottom: 50px
	&:before
		width: 190px
		height: 3px
		background: #000
		content: ""
		position: absolute
		bottom: 0
		left: 0
.tabloid__item
	font-size: 14px
	font-family: $font-alt
	line-height: 1.2
	border-top: 1px solid #000
	padding: 16px 0
	&:first-child
		border-top: none
		padding-top: 0
.tabloid__date
	position: absolute
	top: 0
	left: 0
	color: #fa6000
.tabloid__info
	position: relative
	padding-left: 63px
	padding-right: 15px
.tabloid__desc
	color: #373636
	a
		color: inherit
		text-decoration: none
.tabloid__source
	color: #a7a7a8
	margin-top: 5px
	a
		color: inherit
		text-decoration: none


// BLOG
// --------------------------------------------------
.blog
	background: #f3f2ef
	margin-bottom: 45px
.blog__head
	padding: 20px
.blog__title
	margin-bottom: 0
	display: inline-block
	vertical-align: middle
.blog__nav
	display: inline-block
	vertical-align: middle
	margin-left: 22px
	span
		display: inline-block
		vertical-align: middle
		margin-left: 6px
		+hidetext
		+nosel
		cursor: pointer
		&:first-child
			margin-left: 0
.blog__prev
	+s(prev)
.blog__next
	+s(next)
.blog__slides
.blog__slide
	display: inline-block
	vertical-align: top
	white-space: normal
	width: 100%
.blog__topic
	position: relative
	// border-top: 1px solid #e0eaed
	padding: 20px 10px 20px 20px
	line-height: 1.2
	&:before
		position: absolute
		top: 0
		left: 3px
		right: 18px
		height: 1px
		background: #e0eaed
		content: ""
.blog_topichref
	text-decoration: none
	.blog__topictitle
		font-size: 16px
		color: #1a1a1a
	.blog__topicdesc
		font-size: 14px
		color: #919087
.blog__topictitle
	font-family: $font-alt
	font-size: 16px
	color: #1a1a1a
	margin-bottom: 10px
.blog__topicdesc
	font-size: 14px
	color: #919087
.blog__topicmeta
	margin-top: 15px
	font-family: $font-alt 
	li
		position: relative
		display: inline-block
		vertical-align: middle
		color: #6f6f70
		padding: 0 0 0 10px
		margin-left: 7px
		&:first-child
			padding: 0
			margin-left: 0
			&:before
				content: none
		&:before
			position: absolute
			top: -1px
			left: 0
			height: 15px
			width: 1px
			background: #6f6f70
			content: ""
.blog__topicuser
	font-weight: bold
	color: #1a1a1a
	font-size: 13px
	a
		display: block
		+text-overflow
		max-width: 150px
		height: 100%
		color: #1a1a1a
		text-decoration: none
.blog__topicuserpic
	display: inline-block
	vertical-align: middle
	margin-right: 10px
	width: 37px
	height: 37px
	+border-radius(50%)

.banner
	background: #f3f2ef
	border: 1px solid rgba(0,0,0,.15)
	height: 88px
	overflow: hidden
	// +box
	img
		display: block
		width: 100%
		height: 100%




