// HEADINGS
// --------------------------------------------------
h1, .h1
	font-family: $font-base
	font-size: 24px
	font-weight: bold
	color: #000
h2, .h2
	font-family: $font-alt
	font-size: 20px
	font-weight: bold
	color: #000
h3, .h3
	font-family: $font-alt
	font-size: 15px
	font-weight: bold
	color: #0f0e0e

.h-bordered
	font-size: 20px
	font-weight: bold
	font-family: $font-alt
	line-height: 1
	border-bottom: 3px solid #000
	margin-bottom: 30px
	margin-right: 135px
	&.h-bordered_mod
		margin-right: 0